<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div id="nav-top" class="z-depth-2 teal lighten-1">
        <div id="title">
            <h2 class="header center white-text">NSF Grants</br>Explorer</h2>
        </div>
        <div id="keyword-container">
            <div id="keyword-controls">
                <h5 id="keyword-title">SEARCH TERMS</h5>
                <span class="switch">
                    <label>ANY
                        <input id="any-all" type="checkbox">
                        <span class="lever"></span>
                        ALL
                    </label>
                </span>
                <a id="clear-terms" class="white-text waves-effect waves-red btn-flat"><i class="material-icons right">clear_all</i>clear all</a>
            </div>
            <div id="keywords-autocomplete" class="chips"></div>
            <div id="keywords-dropdown" class="dropdown card-panel">
                <div id="suggested-keywords" class="card-content chips"></div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="grey lighten-5" id="controls">
            <div class="input-field" id="division-container">
                <div id="division-controls">
                    <h5 id="division-title">SELECT DIVISIONS</h5>
                    <a id="clear-divisions" class="waves-effect waves-red btn-flat"><i class="material-icons right">clear_all</i>clear all</a>
                    <a id="select-all" class="waves-effect waves-green btn-flat"><i class="material-icons right">done_all</i>select all</a>
                </div>
                 <input type="text" id="divisions-autocomplete" placeholder="filter divisions">
                 <div id="divisions-dropdown" class="dropdown card-panel">
                     <table id="divisions-table"> 
                         <thead>
                             <tr>
                                 <th id="sort-name">Division</th>
                                 <th id="sort-val">#</th>
                             </tr>
                         </thead>
                         <tbody>
                         </tbody>
                     </table>
     
                 </div>
            </div>
            <div id="control-buttons">
                <button id="display-grants" class="btn waves-effect waves-light blue modal-trigger" data-target="grant-data">
                    <i class="material-icons left">insert_drive_file</i>
                    view grants
                </button>
                <a id="toggle-view" class="btn waves-effect waves-light blue" style="margin-left: 80px"># view counts</a>
            </div>
          </div>
          <div class="z-depth-3" id="viz">
            <div id="spin" class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="modal" id="grant-data">
        <div class="modal-content">
            <div>
                <h4>Grants</h4>
                <a id="csv-download" class="waves-effect waves-light blue btn">
                    <i class="material-icons right">file_download</i>
                    download
                </a>
            </div>
            <table id="grant-table" class="striped">
                <thead>
                    <p id="table-message"></p>
                    <tr>
                        <th>Grant Title</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <nav id="nav-bottom">
        <div class="nav-wrapper teal lighten-1 z-depth-5">
            <ul id="credits" class="left hide-on-med-and-down">
                <li class="white-text">Developed by Jesse Chamberlin, Peter Li, Jevin West at the University of Washington DataLab</li>
            </ul>
            <div id="links">
                <a href="https://datalab.ischool.uw.edu"><img src="/static/datalab_logo.png"></a>
                <a href="https://www.moore.org"><img src="/static/moore_logo.png"></a>
            </div>
       </div>
    </nav>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
</body>
