<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="templates/style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
html, body, #main {
    height: 100%;
}

nav {
    z-index: 3;
    position: fixed;
    bottom: 0;
}

.nav-wrapper {
    position: relative;
}

#main {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 64px;
}

#viz {
    position: relative;
    height: 100%;
    padding: 24px;
    z-index: 2
}

#credits {
    color: black;
    position: absolute;
    left: 0;
    margin-left: 48px;
}

#links {
    position: absolute;
    right: 48px;
}

img {
    margin: 8px;
    height: 48px;
}

#spin {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

#union-intersection:not(:checked)+.lever {
    background-color: #2196F3;
}

#union-intersection:not(:checked)+lever:after {
    background-color: #1976D2;
}

#union-intersection:checked+.lever {
    background-color: #2196F3;
}

#union-intersection:checked+lever:after {
    background-color: #1976D2;
}

#dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    max-height: 16em;
    overflow-y: auto;
    padding: 8px;
    margin-top: 0;
    margin-right: 10px;
}

#suggested-keywords {
    border-bottom: none;
    margin-bottom: 0;
}

#controls {
    z-index: 1
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px;
}

div.tooltip {
    z-index: 3;
    position: absolute;
    text-align: center;
    width: auto;
    height: 2em;
    padding: 6px;
    font: 14px sans-serif;
    color: white;
    background: #005699;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

#grant-data {
    width: 75%;
}

//#grant-table {
//    margin-left: -24px;
//    margin-right: -24px;
//}

#keywords {
    margin: 0;
    border-bottom: none;
    overflow-y: auto;
    max-height: 12em;
}

#csv-download { 
    float: right;
    margin-right: 24px;
    margin-top: -48px;
}

.clear {
    float: right;
    margin-top: -36px;
}

#credits {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#credits img {
    height: 80px;
}

.btn-floating {
    position: absolute;
    bottom: 96px;
    left: 48px;

</style>
</head>
<body>
    <div id="main" class="row">
        <div class="col s4 grey lighten-5" id="controls">
            <h2 class="header center">NSF Grants Explorer</h2>
            <h5>SEARCH TERMS</h5>
            <a id="clear-terms" class="clear waves-effect waves-red btn-flat"><i class="material-icons right">clear_all</i>clear all</a>
            <div class="switch">
                <label>Union
                    <input id="union-intersection" type="checkbox">
                    <span class="lever"></span>
                    Intersection
                </label>
            </div>

            <div id="keyword-container">
                <div id="keywords" class="chips"></div>
                <div id="dropdown" class="card-panel">
                    <div id="suggested-keywords" class="card-content chips"></div>
                </div>
            </div>

            <h5>FILTER DIVISIONS</h5>
            <a id="clear-divisions" class="clear waves-effect waves-red btn-flat"><i class="material-icons right">clear_all</i>clear all</a>
            <a id="select-all" class="clear waves-effect waves-green btn-flat"><i class="material-icons right">done_all</i>select all</a>
            <div class="input-field">
                <select multiple id="select-division"></select>
                <!--<label>Select Divisions</label>-->
            </div>
            <button id="search-button" class="waves-effect waves-light btn blue">search</button>
            </br>
         </div>
          <div class="col s8 z-depth-3" id="viz">
            <div id="spin" class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="toggle-view" class="btn-floating btn-large waves-effect waves-light blue" style="margin-left: 80px">#</a>
    <button id="display-grants" class="btn-floating btn-large waves-effect waves-light blue modal-trigger" data-target="grant-data"><i class="material-icons">insert_drive_file</i></button>
    <div class="modal" id="grant-data">
        <div class="modal-content">
            <div>
                <h4>Grants</h4>
                <a id="csv-download" class="waves-effect waves-light blue btn"><i class="material-icons right">file_download</i>download</a>
            </div>
            <table id="grant-table" class="striped">
                <thead>
                    <p id="table-message"></p>
                    <tr>
                        <th>Grant Title</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <nav>
        <div class="nav-wrapper light-blue lighten-3 z-depth-5">
            <ul id="credits" class="left hide-on-med-and-down">
                <li>Developed by Jesse Chamberlin, Peter Li, Jevin West at the University of Washington DataLab</li>
            </ul>
            <div id="links">
                <a href="https://datalab.ischool.uw.edu"><img src="/static/datalab_logo.png"></a>
                <a href="https://www.moore.org"><img src="/static/moore_logo.png"></a>
            </div>
       </div>
    </nav>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {

    let visPercent = true;
    let visData = null;

    let modal = document.querySelector("#grant-data");
    let select = document.querySelector("#select-division");
    let keywordChips = document.querySelector("#keywords");

     // initialize materialize elements
    let modalInstance = M.Modal.init(modal, null);
    let selectInstance = M.FormSelect.init(select, null);
    let keywordInstance = M.Chips.init(keywordChips, {
        onChipAdd: function(e, c) {
            getSuggestions(keywordInstance.chipsData);
            terms = c.firstChild.nodeValue.split(",");
            if (terms.length > 1) {
                keywordInstance.deleteChip(keywordInstance.chipsData.length - 1);
                terms.forEach((t) => {
                    keywordInstance.addChip({tag: t});
                });
            }
        },
        onChipDelete: function(e, c) {
            getSuggestions(keywordInstance.chipsData);
        }
    });

    let keywordContainer = d3.select("#keyword-container");
    let keywordInput = d3.select("#keywords input");
    let dropdown = d3.select("#dropdown");
    dropdown.style("max-width", keywordContainer.node().getBoundingClientRect().width + "px");
    let keywordFocused = false;

    keywordInput.on("focus", function(e) {
        dropdown.style("display", "inline");
    });

    keywordInput.on("focusout", function(e) {
        if (!keywordFocused) {
            dropdown.style("display", "none");
        } else {
            keywordInput.node().focus();
        }
    });

    keywordContainer.on("mouseover", function() {
        keywordFocused = true;
    });
    
    keywordContainer.on("mouseout", function(event) {
        let e = d3.event.toElement || d3.event.relatedTarget;
        if (!this.contains(e)) {
            keywordFocused = false;
        }
    });

    // load keyword data from server
    d3.json("/defaults", function(data) {
        data.keywords.forEach((d) => {
            keywordInstance.addChip({tag: d});
        });

        d3.select("#select-division").selectAll("option")
            .data(data.divisions)
            .enter().append("option")
            .text((d) => { return d.text; })
            .property("selected", (d) => { return d.default; })
            .attr("value", (d) => { return d.value; });

        selectInstance = M.FormSelect.init(select, null);

        getData();
    });

    d3.select("#clear-terms").on("click", function(event) {
        let l = keywordInstance.chipsData.length;
        for (let i = 0; i < l; i++) {
            keywordInstance.deleteChip(0);
        }
        getSuggestions([]);
    });

    let clearDivisions = d3.select("#clear-divisions")
        .on("click", function(event) {
            allDivisions.style("display", "block");
            clearDivisions.style("display", "none");
            d3.selectAll("#select-division option").property("selected", false);
            selectInstance = M.FormSelect.init(select, null);
        });

    let allDivisions = d3.select("#select-all")
        .style("display", "none")
        .on("click", function(d) {
            clearDivisions.style("display", "block");
            allDivisions.style("display", "none");
            d3.selectAll("#select-division option").property("selected", true);
            selectInstance = M.FormSelect.init(select, null);
        })

    d3.select("#search-button").on("click", () => { getData(); });
    d3.select("#display-grants").on("click", getGrants);

    let tooltip = d3.select("body").append("div")    
        .attr("class", "tooltip")                
        .style("opacity", 0);

    let cells = [
        {
            "pos": [0, 0], 
            "title": "Grants per Year",
            "amount": false,
            "filtered": false
        },
        {
            "pos": [1, 0], 
            "title": "Grants in Filtered Divisions per Year",
            "amount": false,
            "filtered": true
        },
        {
            "pos": [0, 1], 
            "title": "Grant Funding per Year",
            "amount": true,
            "filtered": false
        },    
        {
            "pos": [1, 1],
            "title": "Grant Funding in Filtered Divisions per Year",
            "amount": true,
            "filtered": true
        }
    ]

    let svg = d3.select("#viz").append("svg")
    let charts = svg.selectAll(".chart")
        .data(cells)
        .enter().append("g")
        .attr("class", "chart")

    function redraw(first=false) {

        let m = {left: 24, right: 24, top: 24, bottom: 24};

        let width = document.querySelector("#viz").clientWidth - m.left - m.right;
        let height = document.querySelector("#viz").clientHeight - m.left - m.right;
        svg.attr("width", width)
            .attr("height", height);

        let margin = {top: 30, right: 30, bottom: 20, left: 40};

        charts.attr("transform", (d) => { return "translate(" + (d.pos[0]*width/2 + margin.left) + ","
                + (d.pos[1]*height/2 + margin.top) + ")"})

        // initialize visualization
        cells.forEach((cell, i) => {
    
            cell.chart = d3.select(charts.nodes()[i])
            /*
               TODO fix this so it doesn't completely rerender
            */
            cell.chart.selectAll("*").remove();
            cell.chartWidth = width/2 - margin.left - margin.right;
            cell.chartHeight = height/2 - margin.top - margin.bottom;
    
            let data = [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

            cell.x = d3.scaleBand()
                    .rangeRound([0, cell.chartWidth])
                    .domain(data)
                    .padding(0.1);
            cell.y = d3.scaleLinear()
                    .rangeRound([cell.chartHeight, 0])
                    .domain([0, 1]);

            cell.xAxis = cell.chart.append("g")
                .attr("class", "axis axis-x")
                .attr("transform", "translate(0, " + cell.chartHeight + ")")
                .call(d3.axisBottom(cell.x).tickFormat(d3.format("d")));

            cell.yAxis = cell.chart.append("g")
                .attr("class", "axis axis-y")
                .call(d3.axisLeft(cell.y).ticks(5))
                //.append("text")
                //.attr("transform", "rotate(-90)")
                //.attr("y", cell.chartWidth)
                //.attr("text-anchor", "end")
                //.text("%");

            let bars = cell.chart.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", (d) => { return cell.x(d.year); })
                .attr("width", cell.x.bandwidth())
                .attr("y", (d) => { return cell.chartHeight; })
                .attr("height", (d) => { return 0; })
        });

        charts
            .append("text")
            .text((d) => { return d.title + " (%)"; })
            .attr("class", "title")
            .attr("x", (d) => { return d.chartWidth / 2; })
            .attr("y", -5)
            .attr("text-anchor", "middle");

    }

    redraw();

    let rtime;
    let timeout = false;
    let delta = 200;
    
    d3.select(window).on("resize", () => {
        rtime = new Date();
        if (timeout == false) {
            timeout = true;
            setTimeout(resizeEnd, delta);
        }
    });

    function resizeEnd() {
        if (new Date() - rtime < delta) {
            setTimeout(resizeEnd, delta);
        } else {
            timeout = false;
            redraw();
            plot(visData);
        }
    };

    function getData() {

        let spinner = d3.select("#spin")
            .style("display", "block");

        d3.select("#viz").style("opacity", 0.6);

        let terms = [];

        keywordInstance.chipsData.forEach((c) => {
            terms.push(c.tag);
        });

        let toggleState = d3.select("#union-intersection").property("checked");

        let searchResult = new XMLHttpRequest();
        searchResult.open("POST", "/search", true);
        searchResult.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        searchResult.onload = function() {
            spinner.style("display", "none");
            d3.select("#viz").style("opacity", 1);
            visData = JSON.parse(searchResult.response);
            plot(JSON.parse(searchResult.response));
        };
        searchResult.send(JSON.stringify({
            "toggle": toggleState, 
            "terms": terms
        }))
    };


    function plot(data, percent=visPercent) {
        d3.select("#toggle-view").on("click", toggleView);

        let maxGrants = Math.max.apply(null, 
                data.map((d) => { return barData("val", cells[0], d.data, percent); }).concat(
                data.map((d) => { return barData("val", cells[1], d.data, percent); }))
            );

        let maxAmount = Math.max.apply(null,
                data.map((d) => { return barData("val", cells[2], d.data, percent); }).concat(
                data.map((d) => { return barData("val", cells[3], d.data, percent); }))
            );

        let toggleButton = d3.select("#toggle-view");
 
        //d3.selectAll(".chart")
        //    .select(".title")
        //    .text((d) => { return d.title + d.suffix; });

        cells.forEach((cell) => {

            let suffix, tickFmt;

            if (percent) {
                toggleButton.text("#");
                tickFmt = d3.format(".2%");
                suffix = " (%)";
            } else {
                toggleButton.text("%");
                if (!cell.amount) {
                    tickFmt = d3.format(".2s");
                    suffix = " (#)";
                } else {
                    tickFmt = (d) => { return "$" + d3.format(".2s")(d) };
                    suffix = " ($)";
                }
            }

            cell.chart.select(".title")
                .text(cell.title + suffix);

            cell.x.domain(data.map((d) => { return d.year; }).sort());
            cell.y.domain([0, cell.amount ? maxAmount : maxGrants ]);
    
            cell.xAxis.transition(500).call(d3.axisBottom(cell.x).tickFormat(d3.format("d")));
            cell.yAxis.transition(500).call(d3.axisLeft(cell.y).ticks(5).tickFormat(tickFmt));

            let bars = cell.chart.selectAll(".bar")
                .data(data)
                .on("mouseover", function(d) {
                    tooltip.transition()
                        .duration(200)
                        .style("opacity", 1);
                    tooltip.html(barData("text", cell, d.data, percent))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                    tooltip.transition()
                        .duration(500)
                        .style("opacity", 0);
                })    
                .attr("x", (d) => { return cell.x(d.year); })
                .attr("width", cell.x.bandwidth())
                .transition().duration(500)
                .attr("y", (d) => { return barData("y", cell, d.data, percent); })
                .attr("height", (d) => { return barData("height", cell, d.data, percent); })
                .attr("fill", (d) => { 
                    if (!cell.amount) return "#2196F3";
                    else return "#8BC34A";
                });
        });

        function barData(attr, cell, data, percent) {
            let divs = selectInstance.getSelectedValues();
            let t = 0;
            let m = 0;
            if (!cell.filtered) {
                if (cell.amount) {
                    m = data.all.match_amount
                    t = data.all.total_amount;
                } else {
                    m = data.all.match_grants;
                    t = data.all.total_grants;
                }
            } else {
                if (cell.amount) {
                    divs.forEach((div) => { 
                        if (data[div]) {
                            m += data[div].match_amount; 
                            t += data[div].total_amount; 
                        }
                    });
                } else {
                    divs.forEach((div) => { 
                        if (data[div]) {
                            m += data[div].match_grants; 
                            t += data[div].total_grants; 
                        }
                    });
                }
            }

            let h;
            if (percent) {
                if (t != 0) h = m / t;
                else h = 0;
            }
            else h = m;

            if (attr == "height") return cell.chartHeight - cell.y(h);
            else if (attr == "text") {
                if (percent) return d3.format(".2%")(h);
                else if (cell.amount) return d3.format("$,")(h);
                else return d3.format(",")(h) + " grants";
            } 
            else if (attr == "y") return cell.y(h);
            else return h;
        }

        function getTipText(cell, data, button) {
            if (button.text() == "#") {
                return d3.format(".2%")(barData("text", cell, data));
            } else if (cell < 2) {
                return d3.format(",")(data.c_matching) + " grants";
            } else {
                return d3.format("$,")(data.s_matching);
            }
        }

        function toggleView(event) {
            visPercent = !visPercent;
            plot(data, visPercent); 
        }
    }

    function getSuggestions(data) {
        if(data.length == 0) {
            d3.select("#suggested-keywords")
                .selectAll(".chip")
                .remove();
            return;
        }

        keywords = [];
        data.forEach((d) => {
            keywords.push(d.tag);
        });

        let searchResult = new XMLHttpRequest();
        searchResult.open("POST", "/suggestions", true);
        searchResult.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        searchResult.onload = function() {
            let chips = searchResult.response.split(",");

            let suggested = d3.select("#suggested-keywords")
                .selectAll(".chip")
                .data(chips, function(d) { return d; });

            suggested.exit().remove()

            suggested.enter().append("div")
                .attr("class", "chip")
                .attr("vertical-align", "middle")
                .text((d) => { return d; })
                .append("i")
                .attr("class", "close material-icons")
                .text("add")
                .on("mousedown", (d) => { 
                    keywordInstance.addChip({tag: d});
                });
 
        };
        searchResult.send(JSON.stringify(keywords));
    }

    function getGrants(event) {

        let message = d3.select("#table-message")
        message.style("display", "inline");

        let terms = [];
        keywordInstance.chipsData.forEach((c) => {
            terms.push(c.tag);
        });

        let divisions = selectInstance.getSelectedValues();

        if (divisions.length === 0) {
            message.text("Please select some divisions from the filter dropdown before downloading");
            return;
        }

        let toggle = d3.select("#union-intersection").property("checked");

        message.text("Loading data...");
        d3.select("#grant-table tbody").selectAll("tr").remove();

        let searchResult = new XMLHttpRequest();
        searchResult.open("POST", "/grants", true);
        searchResult.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        searchResult.onload = function() {
            message.style("display", "none");
            displayData(d3.csvParse(searchResult.response));
            d3.select("#csv-download").attr("href", 
                    URL.createObjectURL(
                        new Blob(["\ufeff", searchResult.response])));
            d3.select("#csv-download").attr("download", "grants.csv");
        };
        searchResult.send(JSON.stringify({
            "terms": terms,
            "divisions": divisions,
            "toggle": toggle
        }));
    };

    function displayData(data) {
        let dateFormat = d3.timeFormat("%b %Y");
        let dateParse = d3.timeParse("%Y-%m-%d");

        let rows = d3.select("#grant-table tbody").selectAll("tr")
            .data(data)
            .enter()
            .append("tr")
            .selectAll("td")
            .data((d) => {
                return ["title", "date", "value", "division"].map((c) => {
                    if (c == "value") return { column: c, value: "$" + d3.format(",")(d[c]) };
                    else if (c == "date") { 
                        return { column: c, value: dateFormat(dateParse(d[c])) }; }
                    else return { column: c, value: d[c] }; 
                });
            })
            .enter()
            .append('td')
            .text((d) => { return d.value });
    }

});
</script>
