<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="nav-top row z-depth-2 light-blue lighten-3">
        <div class="col s4">
            <h2 class="header center">NSF Grants</br>Explorer</h2>
        </div>
        <div id="keyword-container" class="col s8">
            <div>
                <h5 style="display: inline;" >SEARCH TERMS</h5>
                <span class="switch">
                    <label>ANY
                        <input id="any-all" type="checkbox">
                        <span class="lever"></span>
                        ALL
                    </label>
                </span>
                <a id="clear-terms" class="clear waves-effect waves-red btn-flat"><i class="material-icons right">clear_all</i>clear all</a>
            </div>
            <div id="keywords" class="chips"></div>
            <div id="dropdown" class="card-panel">
                <div id="suggested-keywords" class="card-content chips"></div>
            </div>
        </div>
    </div>
    <div id="main" class="row">
        <div class="col s4 grey lighten-5" id="controls">
            <h2 class="header center">NSF Grants Explorer</h2>
            <h5>SEARCH TERMS</h5>
            <h5>FILTER DIVISIONS</h5>
            <a id="clear-divisions" class="clear waves-effect waves-red btn-flat"><i class="material-icons right">clear_all</i>clear all</a>
            <a id="select-all" class="clear waves-effect waves-green btn-flat"><i class="material-icons right">done_all</i>select all</a>
            <div class="input-field">
                <select multiple id="select-division"></select>
                <!--<label>Select Divisions</label>-->
            </div>
            <button id="search-button" class="waves-effect waves-light btn blue">search</button>
            </br>
         </div>
          <div class="col s8 z-depth-3" id="viz">
            <div id="spin" class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a id="toggle-view" class="btn-floating btn-large waves-effect waves-light blue" style="margin-left: 80px">#</a>
    <button id="display-grants" class="btn-floating btn-large waves-effect waves-light blue modal-trigger" data-target="grant-data">
        <i class="material-icons">insert_drive_file</i>
    </button>
    <div class="modal" id="grant-data">
        <div class="modal-content">
            <div>
                <h4>Grants</h4>
                <a id="csv-download" class="waves-effect waves-light blue btn">
                    <i class="material-icons right">file_download</i>
                    download
                </a>
            </div>
            <table id="grant-table" class="striped">
                <thead>
                    <p id="table-message"></p>
                    <tr>
                        <th>Grant Title</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <nav class="nav-bottom">
        <div class="nav-wrapper light-blue lighten-3 z-depth-5">
            <ul id="credits" class="left hide-on-med-and-down">
                <li>Developed by Jesse Chamberlin, Peter Li, Jevin West at the University of Washington DataLab</li>
            </ul>
            <div id="links">
                <a href="https://datalab.ischool.uw.edu"><img src="/static/datalab_logo.png"></a>
                <a href="https://www.moore.org"><img src="/static/moore_logo.png"></a>
            </div>
       </div>
    </nav>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
</body>
