<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="templates/style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
html, body, #main {
    height: 100%;
}

#main {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 4%;
    padding-right: 4%;
}

#viz {
    height: 100%;
}

body {
    padding-left: 10%;
    padding-right: 10%;
}

#credits {
    position: relative;
    bottom: 0;
}

img {
    padding: 8px;
}

.autocomplete-content dropdown-content {
    right: 400px;
}

#controls {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

div.tooltip {
        position: absolute;
        text-align: center;
        width: 8em;
        height: 2em;
        padding: 4px;
        font: 12px sans-serif;
        color: white;
        background: #005699;
        border: 0px;
        border-radius: 2px;
        pointer-events: none;
}

#csv-download {
    float: right;
    margin-right: 24px;
}

#credits {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#credits img {
    width: 240px;
}

.btn-floating {
    position: absolute;
    bottom: 48px;
    right: 48px;

</style>
</head>
<body>
    <div id="main" class="row center">
        <div class="col s4" id="controls">
            <h1 class="header center" style="color: #D3B34E">NSF Grants Explorer</h1>
            <h5>SEARCH TERMS</h5>
            <!--<div id="search-terms" class="chips chips-initial"></div>-->
            <div id="keywords" class="chips"></div>
            <input id="keywords-input" type="text" placeholder="add keywords"></input>
            <h5>FILTER DIVISIONS</h5>
            <div id="divisions" class="chips chips-initial chips-autocomplete"></div>
            <button id="search-button" class="waves-effect waves-light btn" style="background-color: #005699">search</button>
            </br>
            <div id="credits">
                <a href="https://datalab.ischool.uw.edu"><img src="/static/datalab_logo.png"></a>
                </br>
                <a href="https://www.moore.org"><img src="/static/moore_logo.jpg"></a>
                </br>
                Developed by Jesse Chamberlin, Peter Li, Jevin West at the University of Washington DataLab
            </div>
          </div>
        <div class="col s8" id="viz" style="position:relative">
            <div id="spin" style="position:fixed; top:50%; left:50%">
            </div>
        </div>
    </div>
    <a id="toggle-view" class="btn-floating btn-large waves-effect waves-light blue">#</a>
    <button id="display-grants" class="btn-floating btn-large waves-effect waves-light blue modal-trigger" style="margin-bottom: 80px" data-target="grant-data"><i class="material-icons">insert_drive_file</i></button>
    <div class="modal" id="grant-data">
        <div class="modal-content">
            <div>
                <h4>Grants</h4>
                <a id="csv-download" class="waves-effect waves-light blue btn"><i class="material-icons right">file_download</i>download</a>
            </div>
            <table id="grant-table">
                <thead>
                    <tr>
                        <th>Grant Title</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script> 
<!--<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>-->
<script>

    document.addEventListener("DOMContentLoaded", function() {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems, null);
    });

    let searchChips = document.querySelector("#search-terms");
    let divisionChips = document.querySelector("#divisions");
    let searchTerms;
    let divisions;
    let queryDivisions = []
    let otherDivisions = {}
    let pct = false;

    const keywordInput = document.getElementById("keywords-input");
    const keywordChips = d3.select("#keywords");
    keywordInput.addEventListener("keyup", function(e) {
        if (e.key === "Enter") {

            keywords = keywordInput.value.split(",");

            keywordChips.selectAll("chip")
                .data(keywords)
                .enter().append("div")
                .attr("class", "chip")
                .text(d => { return d; })
                .append("i")
                .attr("class", "close material-icons")
                .text("close");

            keywordInput.value = "";
        }
    })

    // load keyword data from server
    d3.json("/keywords", function(data) {
        searchTerms = M.Chips.init(searchChips, {
            data: data
        });
    });

    // load division data from server
    d3.json("/divisions", function(data) {
        data.forEach((d, i) => {
            if (i < 5) { queryDivisions.push(d); }
            else { otherDivisions[d.tag] = null; }
        });

        divisions = M.Chips.init(divisionChips, {
            data: queryDivisions,
            autocompleteOptions: {
                data: otherDivisions
            },
            onChipAdd: function(e, chip) {
                delete otherDivisions[chip.firstChild.textContent];
            },
            onChipDelete: function(e, chip) {
                otherDivisions[chip.firstChild.textContent] = null;
             }
        });

    });

    let opts = {
        lines: 9,
        length: 9,
        width: 5,
        radius: 14,
        color: "#EE3124",
        speed: 1.9,
        trail: 40,
        className: "spinner"
    };
    
    let spinner = new Spinner(opts)
    spinner.spin(document.querySelector("#spin"));

    d3.select("#search-button").on("click", () => { getData(this); });
    d3.select("#toggle-view").on("click", toggleView);
    d3.select("#display-grants").on("click", getGrants);
    getData(null);

    function getData(event) {

        spinner.spin(document.querySelector("#spin"));

        let data;

        if (event != null) {
            query = {"terms": [], "divisions": []};

            keywordChips.selectAll("div").each((t) => {
                query["terms"].push(t);
                console.log(t);
            });

            //for(let t in searchTerms.chipsData) {
            //    query["terms"].push(searchTerms.chipsData[t].tag);
            //}

            for(let d in divisions.chipsData) {
                query["divisions"].push(divisions.chipsData[d].tag);
            }

            data = JSON.stringify(query);

        } else {
            data = "";
        }

        $.ajax({
            url: "/search",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            complete: function(data) {
                spinner.stop();
                redraw(d3.csvParse(data.responseText));
            }
        });
    };

    let width = document.querySelector("#viz").clientWidth;
    let height = document.querySelector("#viz").clientHeight;
    let svg = d3.select("#viz").append("svg")
        .attr("width", width)
        .attr("height", height);


    /*
    var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function(d) {
            return "<strong>Percent:</strong> <span style='color:red'>" + d.matching + "</span>";
        })
    */

    let tooltip = d3.select("body").append("div")    
        .attr("class", "tooltip")                
        .style("opacity", 0);

    let margin = {top: 30, right: 30, bottom: 20, left: 40};

    let cells = {
        0: {
            "pos": [0, 0], 
            "title": "Grants per Year",
        },
        1: {
            "pos": [1, 0], 
            "title": "Grants in Filtered Divisions per Year"
        },
        2: {
            "pos": [0, 1], 
            "title": "Grant Funding per Year"
        },    
        3: {
            "pos": [1, 1],
            "title": "Grant Funding in Filtered Divisions per Year"
        }
    }

    Object.keys(cells).forEach((c) => {

        let cell = cells[c],
            row = cell.pos[0],
            col = cell.pos[1];

        cell.chartWidth = width/2 - margin.left - margin.right;
        cell.chartHeight = height/2 - margin.top - margin.bottom;

        cell.x = d3.scaleBand().rangeRound([0, cell.chartWidth]).padding(0.1);
        cell.yAbs = d3.scaleLinear().rangeRound([cell.chartHeight, 0]);
        cell.yRel = d3.scaleLinear().rangeRound([cell.chartHeight, 0]);

    });

    function redraw(data) {
        // clear elements from chart area
        d3.select("#toggle-view").text("#")
        svg.selectAll("*").remove();

        let allData = [[], [], [], []];
        let maxTopAbs = 0;
        let maxTopRel = 0;
        let maxBottomAbs = 0;
        let maxBottomRel = 0;
        let currData = -1;

        Object.keys(cells).forEach((c) => {
            let cell = cells[c],
                row = cell.pos[0],
                col = cell.pos[1];

            cell.chart = svg.append("g")
                .attr("transform", "translate(" + (row*width/2 + margin.left) + "," 
                    + (col*height/2 + margin.top) + ")");

        });

        data.forEach((d) => {
            d.year = +d.year;
            d.matching = +d.matching;
            d.percent = d.matching/+d.total;
            if (d.year == 2007) {
                currData++;
            }
            allData[currData].push(d);
            // update data range
            if (currData < 2 && maxTopAbs < d.matching) maxTopAbs = d.matching;
            else if (currData >= 2 && maxBottomAbs < d.matching) maxBottomAbs = d.matching;
            if (currData < 2 && maxTopRel < d.percent) maxTopRel = d.percent;
            else if (currData >= 2 && maxBottomRel < d.percent) maxBottomRel = d.percent;

        });

        Object.keys(cells).forEach((c) => {

            let cell = cells[c];

            cell.x.domain(data.map((d) => { return d.year }).sort());
            cell.yAbs.domain([0, c < 2 ? maxTopAbs : maxBottomAbs])
            cell.yRel.domain([0, c < 2 ? maxTopRel : maxBottomRel])
            cell.y = cell.yRel;
    
            cell.chart.append("text")
                .text(cell.title + " (%)")
                .attr("class", "title")
                .attr("x", cell.chartWidth / 2)
                .attr("y", -5)
                .attr("text-anchor", "middle");
    
            cell.chart.append("g")
                .attr("class", "axis axis-x")
                .attr("transform", "translate(0, " + cell.chartHeight + ")")
                .call(d3.axisBottom(cell.x).tickFormat(d3.format("d")));
    
            cell.yAxis = cell.chart.append("g")
                .attr("class", "axis axis-y")
                .call(d3.axisLeft(cell.y).ticks(5).tickFormat(d3.format(".2%")));

            cell.yAxis
                //.attr("transform", "translate(" + cell.chartWidth + ", 0)")
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", cell.chartWidth)
                .attr("text-anchor", "end")
                .text("%");

             cell.chart.selectAll(".bar")
                .data(allData[c])
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", (d) => { return cell.x(d.year); })
                .attr("y", (d) => { return cell.y(d.percent); })
                .attr("width", cell.x.bandwidth())
                .attr("height", (d) => { return cell.chartHeight - cell.y(d.percent); })
                .attr("fill", (d) => { 
                    if (c < 2) return "#2196F3";
                    else return "#8BC34A";
                })
                .on("mouseover", function(d) {
                    tooltip.transition()
                        .duration(200)
                        .style("opacity", .9);
                    tooltip.html(getTipText(c, d, d3.select("#toggle-view")))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                    })
                .on("mouseout", function(d) {
                    tooltip.transition()
                        .duration(500)
                        .style("opacity", 0);
                });    
        });
    }

    function getTipText(cell, data, button) {
        if (button.text() == "#") {
            return d3.format(".2%")(data.percent); 
        } else if (cell < 2) {
            return d3.format(",")(data.matching) + " grants";
        } else {
            return d3.format("$,")(data.matching);
        }
    }

    function toggleView(event) {
        button = d3.select("#toggle-view");

        Object.keys(cells).forEach((c) => {

            cell = cells[c];

            let val;
            let tickFmt;
            let suffix;

            if (button.text() == "%") {
                cell.y = cell.yRel;
                val = "percent";
                tickFmt = d3.format(".2%");
                suffix = " (%)";
            } else {
                cell.y = cell.yAbs;
                val = "matching";
                tickFmt = (d) => { return "$" + d3.format(".2s")(d) };
                if (c < 2) {
                    suffix = " (#)";
                } else {
                    suffix = " ($)";
                }
            }

            cell.chart.select(".axis-y").call(d3.axisLeft(cell.y).tickFormat(tickFmt));

            cell.chart.select(".title")
                .text(cell.title + suffix);

            cell.chart.selectAll(".bar")
                .transition().duration(250)
                .attr("y", (d) => { return cell.y(d[val]); })
                .attr("height", (d) => { return cell.chartHeight - cell.y(d[val]); });

        });

        button.text(button.text() == "%" ? "#" : "%");
    }

    function getGrants(event) {

        let data;

        if (event != null) {
            query = {"terms": [], "divisions": []};

            for(let t in searchTerms.chipsData) {
                query["terms"].push(searchTerms.chipsData[t].tag);
            }

            for(let d in divisions.chipsData) {
                query["divisions"].push(divisions.chipsData[d].tag);
            }

            data = JSON.stringify(query);

        } else {
            data = "";
        }

        d3.select("#grant-table").insert("p", "tbody").text("Loading data...");
        d3.select("#grant-table tbody").selectAll("tr").remove();

        $.ajax({
            url: "/grants",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            complete: function(data) {
                d3.select("#grant-table p").remove();
                displayData(d3.csvParse(data.responseText));
                d3.select("#csv-download").attr("href", URL.createObjectURL(new Blob(["\ufeff", data.responseText])));
                d3.select("#csv-download").attr("download", "grants.csv");
             }
        });
    }

    function displayData(data) {
        let rows = d3.select("#grant-table tbody").selectAll("tr")
            .data(data)
            .enter()
            .append("tr");

        rows.selectAll("td")
            .data((d) => {
                return ["title", "date", "value", "division"].map((c) => {
                    if (c == "value") return { column: c, value: "$" + d3.format(",")(d[c]) };
                    else return { column: c, value: d[c] }; 
                });
            })
            .enter()
            .append('td')
            .text((d) => { return d.value });
    }

</script>
